.certificationItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    text-align: center;

    &:hover {
        .certificationItemLogo {
            opacity: 1;
        }

        .certificationItemLogoBw {
            opacity: 0;
        }
    }
}

.certificationItemLogoContainer {
    position: relative;
    width: 150px;
    height: 150px;
}

.certificationItemLogo {
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.certificationItemLogoBw {
    object-fit: contain;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

@media (width <= 1520px) {
    .certificationItemLogoContainer {
        width: 100px;
        height: 100px;
    }
}