.articlesPage {
    padding: var(--default-offset);
    display: flex;
    flex-direction: column;
    gap: var(--default-offset);

    h1 {
        margin-top: var(--default-offset);
    }
}
.articlesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--default-offset);

    a {
        min-height: 200px;
    }
    h3 {
        font-size: 18px;
    } 
}

@media (width <=800px) {
    .articlesContainer {
        grid-template-columns: 1fr;
    }
}

@media (width <=580px) {
    .articlesPage {
        padding-top: 100px;
    }
}