.footer {
    background-color: var(--background);
    padding: var(--default-offset);
    padding-top: 160px;
}

.footerContainer {
    background-image: url('/images/sky/hero.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    padding: var(--default-offset);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h2 {
        font-size: 60px;
        font-weight: 400;
        text-align: center;
    }
}

.footerLinks {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    justify-content: center;

    a {
        transition: translate 0.3s ease-in-out;
    }

    a:hover {
        translate: 0 -3px;
    }
}